body {
    margin: -8px;
}

.option {
    cursor: pointer;
    font-size: 16px;
    padding: 24px;
}

.header {
    background: #818181;
    padding: -8px;
    display: flex;
    justify-content: center;
}